/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    background: #f5f5f5;
}

/* Circle background */
.circle {
    position: fixed;
    top: 85%;
    left: 50%;
    width: min(175vw, 175vh);
    height: min(175vw, 175vh);
    background: radial-gradient(circle, #b8cedd, #b8cedd, #b8cedd, #0a0a56, #0a0a56, #b8cedd, #1530ff, #1530ff, #1530ff, #1530ff, #1530ff, #1530ff, #1530ff);
    filter: blur(50px);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: -2; /* Background */
}

/* Blur Layer */
.blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(50px);
    z-index: -1; /* Above the circle, below content */
}

/* Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12%;
    background-color: rgba(0, 0, 0, 0.304);
    z-index: 1000; /* Topmost layer */
    transition: top 0.3s;
}

/* Hides navbar when scroll down */
.navbar.hide {
    top: -60px;
}

/* Ensure body content isn't covered by navbar */
body {
    padding-top: 100px; 
}

/* Logo Styling */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 50%; /* Spacing from the content */
    margin-top: 10%;
    z-index: 3; /* Above content, below navbar */
    transform: translate(-50%, -50%);
}

.logo-container img {
    width: 20%;  /* Adjust size */
    height: auto;
    transition: transform 0.3s ease;
}

/* Content Styling */
.text {
    text-align: center;
    position: absolute;
    top: 40%;
    z-index: 2; /* Below logo, above blur */
    color: #000000;
}

/* Navbar container */
.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 15px;
}

/* Nav links */
.nav-item {
    list-style: none;
}

.nav-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.nav-item.active .nav-link {
    font-size: 26px;
    color: rgb(2, 42, 91);
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    color: #333;
}
