* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 20px;
}

 
/* Ensure the gallery is centered */
.gallery-container {
    position: relative;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: visible; /* Ensure arrows are visible */
    background-color: rgb(255, 198, 229);
}

.gallery {
    display: flex;
    transition: transform 0.4s ease-in-out;
    padding: 20px;
}


/* Title Styling */
.gallery-title {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Image Styling */
.gallery img {
    width: 40%;
    height: auto;
    display: center;
    border-radius: 10px;
}

/* Caption Styling */
.caption {
    text-align: left;
    font-size: 16px;
    color: #333;
    margin: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    z-index: 10; /* Ensure it's always above images */
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.arrow:hover {
    background-color: black;
}

.slide {
    flex: 0 0 100%;
    text-align: center; 
    position: relative;
}

.slide-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #ddb6ff;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid white;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.527);
    border-radius: 10px;
  }

  .button:hover {
    background-color: rgb(255, 198, 229);
  }