{% for slide in site.data.projects %}
  <div class="project-slide">
    <h3 class="project-title">{{ slide.title }}</h3>
    <p class="project-description"><b>{{ slide.short_description }}</b></p>
    <p class="project-description">{{ slide.description }}</p>
    <p class="project-meta"><b>PM:</b> {{ slide.Leads }}</p>
    <p class="project-meta"><b>Team Size:</b> {{ slide["Team size"] }}</p>
    <div class="button-container">
      <a href="mailto:{{ slide['Leader emails'] | replace: ', ', ',' }}?subject=P-ai%20Project" class="button" target="_blank">
        Contact All
      </a>
      {% assign proposal_link = slide["link to proposal"] | default: "#" %}
      <a href="{{ proposal_link }}" class="button" {% if proposal_link != "#" %}target="_blank"{% endif %}>
        Full Proposal
      </a>
    </div>
  </div>
{% endfor %}
